<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <app-home>Hello</app-home>
  <p appBasicHighlight>basic directive</p>
  <p appBetterHighlight>better directive</p>
  <div [ngSwitch]="5">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="6"> Value is 6</p>
    <p *ngSwitchCase="7"> Value is 7</p>
    <p *ngSwitchCase="8"> Value is 8</p>
    <p *ngSwitchDefault>value is Default</p>
  </div>
  <router-outlet></router-outlet>
  <app-cockpit  (serverCreated)="onServerAdd($event)" (blueprintcreated)=' onBlueprintAdd($event)'></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element  *ngFor="let ServerElement of serverElements" [element]='ServerElement' #something></app-server-element>
    </div>
  </div>
</div>

